.mealplans-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-mealplan-button {
    margin-bottom: 20px;
  }
  
  .mealplans-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .mealplan-overview-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .mealplan-overview-card h2 {
    margin-top: 0;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .card-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-buttons button:hover {
    background-color: #0056b3;
  }
  