@import './variables.scss';

.non-authenticated-page {
    display: flex;
    height: 100vh;
    background-color: $darkGreen;
    color: $textWhite;
    font-family: $primaryFont;
  
    .content {
      margin-top: 50px;
      max-width: 500px;
      padding: 20px;
  
      h1 {
        margin-bottom: 20px;
      }
  
      .buttons {
        display: flex;
      }
    }
  }
  
  @media (max-width: 500px) {
    .zap{
      display: flex;
      flex-direction: column;
    }
  }