@use './responsive.scss' as media;

.page-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reteta-page {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "image header"
      "image options"
      "image times"
      "ingredients instructions"
      "ingredients like-print-share"
      "ingredients social";
  
    gap: 10px; // Adjust the gap between grid items as needed
    .image-containe {
      grid-area: image;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: darkgray;
      .recipeimg{
        width: 250px;
        height: 250px;
        background-color: black;
      }
    }
  
    .header {
      grid-area: header;
      display: flex;
      background-color: lightgray;
      .type{
        width: 100px;
      }
    }
  
    .options {
      grid-area: options;
      display: flex;
      gap: 20px;
      align-items: center;
      background-color: darkgray;
      .option-item{
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        width: 70px;
        height: 30px;
      }
    }
  
    .times {
      grid-area: times;
      display: flex;
      background-color: darkgray;
      .time-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  
    .instructions-container {
      grid-area: instructions;
      display: flex;
      flex-direction: column;
      background-color: darkgray;
      .instructiuni{
        .ins-text{
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .icon{
                width: 50px;
            }
            p{
                text-align: left;
            }
        }
        .Step-nav{
            display: flex;
            justify-content: center;
            button{
                width: 100px;
            }
        }
      }

    }
  
    .like-print-share {
      grid-area: like-print-share;
      display: flex;
      background-color: darkgray;
    }
  
    .social {
      grid-area: social;
      display: flex;
      background-color: darkgray;
        .icn{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  
    .ingredients-container {
      grid-area: ingredients;
      background-color: darkgray;
    }
  
    // Styles for mobile
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      .image-container {
        order: 2;
        align-self: center;
        margin-bottom: 20px;
      }
  
      .header {
        order: 3;
        flex-direction: column;
      }
  
      .ingredients-container {
        order: 6;
      }
  
      .options {
        order: 3;
      }
  
      .times {
        order: 4;
      }
  
      .instructions-container {
        order: 7;
      }
  
      .like-print-share {
        order: 1;
        margin: 10px 0;
      }
  
      .social {
        order: 8;
      }
    }
  }
  