//page colors

$lightOrange: #dda15e;
$darkOrange: #a65711;
$darkGreen: #394d21;
$darkerGreen: #0d2818;
$creamWhite: #fefae0;
$lightGray: #e7e7e7;
$darkGray: #2b2b2b;

$primaryColor: #ea8400;
//text colors

$textWhite: whitesmoke;

//fonts

$primaryFont: 'Roboto', sans-serif;
$secfont: 'Poppins', sans-serif;




