//page colors

$lightOrange: #dda15e;
$darkOrange: #a65711;
$darkGreen: #394d21;
$darkerGreen: #0d2818;
$creamWhite: #fefae0;

//text colors

$textWhite: whitesmoke;

//fonts

$primaryFont: 'Roboto', sans-serif;
$secfont: 'Poppins', sans-serif;




